<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for("home.home") }}">Stock Movements</a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    {% if current_user.is_authenticated %}
      {% include "glimpse.html" %}
      {% include "alerts.html" %}
      {% include "user.html" %}
    {% endif %}

  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        {% if current_user.is_authenticated %}
          {% include "search.html" %}

        <li>
          <a href="{{ url_for("home.home") }}"><i class="fa fa-files-o fa-fw"></i> Blog</span></a>
          <!-- /.nav-second-level -->
        </li>
        <li>
          <a href="{{ url_for("portfolios.portfolios") }}"><i class="fa fa-dashboard fa-fw"></i> Portfolios</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>
          <!-- /.nav-second-level -->
        </li>
        <li>
          <a href="{{ url_for("symbols.symbols") }}"><i class="fa fa-table fa-fw"></i> Symbols</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
