{% extends 'base.html' %}
{% block page_title %}{{ symbol }}{% endblock %}

{% block content %}
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Close Prices
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div>
        <p><h2>Symbol Info</h2></p>
        {{ table|safe }}
      </div>
      <div id="example-section32">
        <div id="detailContainer" style="width: 100%;height:400px;margin-top:10px; text-align: left;"></div>
        <div id="sentimentContainer" style="width: 100%;height:200px;margin-top:10px; text-align: left;"></div>
        <div id="masterContainer" style="width: 100%;height:200px;margin-top:10px;"></div>
      </div>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
{% endblock %}

{% block scripts %}

<!-- Flot Charts JavaScript -->
<script src="{{ url_for('static', filename='vendor/flot/excanvas.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/flot/jquery.flot.time.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/flot/jquery.flot.selection.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/flot-tooltip/jquery.flot.tooltip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script type="text/javascript">
  load_plot("{{ symbol }}")
</script>

<script src="{{ url_for('static', filename='vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
<script>
    $(document).ready(function() {
        $('.dataframe').DataTable({
            responsive: true
        });
    });
</script>
{% endblock %}
