{% extends 'base.html' %}
{% block page_title %}{{ symbol }}{% endblock %}
{% block stylesheets %}
<link rel="{{ url_for('static', filename='vendor/D3-timeseries/d3_timeseries.css') }}">
{% endblock %}

{% block content %}
<h1>Test</h1>
<div id="chart1"></div>
<div id="chart"></div>
{% endblock %}
{% block scripts %}
<!-- <script src="{{ url_for('static', filename='vendor/d3/d3.min.js') }}"></script> -->
<script src="{{ url_for('static', filename='vendor/d3/d3.layout.min.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='vendor/rickshaw/js/rickshaw.min.js') }}"></script> -->
<script src="http://code.shutterstock.com/rickshaw/vendor/d3.v2.js"></script>
<script src="http://code.shutterstock.com/rickshaw/rickshaw.min.js"></script>
<script>

var graph = new Rickshaw.Graph( {
	element: document.querySelector("#chart1"),
	width: 235,
	height: 85,
	renderer: 'line',
	series: [ {
		data: [ { x: 0, y: 40 }, { x: 1, y: 49 }, { x: 2, y: 38 }, { x: 3, y: 30 }, { x: 4, y: 32 } ],
		color: '#4682b4'
	} ]
} );
graph.render();

</script>

<script type="text/javascript">
$(document).ready(function() {

  // Assign handlers immediately after making the request,
  // and remember the jqxhr object for this request
  var jqxhr = $.getJSON(
      "{{ url_for('static', filename='datasets/news_quotes/{}.json'.format(symbol)) }}",
      function() {
        // console.log( "success" );
      })
    .done(function(data) {
      // console.log( data.Date );
      var dates = [];
      $.each(data.Date, function(key, val) {
        dates.push(val)
      });
      // console.log(dates);

      var close_prices = [];
      $.each(data.Close, function(key, val) {
        close_prices.push(val)
      });
      for (var i = 0; i < close_prices.length; i++) {
        close_prices[i] = {date:dates[i], close:close_prices[i]}
      };
      console.log(close_prices);
      var data = close_prices

      var graph = New Rickshaw.Graph({
        element: document.querySelector("#chart"),
        render: 'line';
        series: [{
          data: close_prices,
          color: 'steelblue'
        }]
      });
      graph.render()

    })
    .fail(function() {
      console.log("error");
    })
});
</script>
{% endblock %}
