{% extends 'base.html' %}
{% block page_title %}Portfolios{% endblock %}
{% block content %}
  <!-- post form -->
  <div class="row">
    <div class="col-md-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Create a new Portfolio</h3>
        </div>
        <div class="panel-body">
          <form class="form-signin" role="form" action="" method="post">
            <fieldset>
              {{ form.csrf_token }}
              <div class="form-group{{ ' has-error' if form.name.errors else '' }}">
                {{ form.name(placeholder='name', class_='form-control') }}
                <span class="error">
                  {% if form.name.errors %}
                  {% for error in form.name.errors %}
                  <label class="control-label" for="name">{{ error }}</label>
                  {% endfor %}
                  {% endif %}
                </span>
              </div>
              <div class="form-group{{ ' has-error' if form.description.errors else '' }}">
                {{ form.description(placeholder='description', class_='form-control') }}
                <span class="error">
                  {% if form.description.errors %}
                  {% for error in form.description.errors %}
                  <label class="control-label" for="description">{{ error }}</label>
                  {% endfor %}
                  {% endif %}
                </span>
              </div>
              <button class="btn btn-lg btn-success btn-block" type="submit">Create!</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Portfolios</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>

  <!-- /.row -->
  <div class="masonry">
    <div class="row">
      {% for portfolio in portfolios %}
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b>
              <a href="{{ url_for('portfolios.show_portfolio', portfolio_id=portfolio.id) }}">{{ portfolio.name }}</a>
            </b>
          </div>
          <div class="panel-body">
            <p>{{ portfolio.description }}</p>
            {% if portfolio.portfo_symbols %}
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Symbol</th>
                    <th>Number of Shares</th>
                    <th>Purchase Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for assoc in portfolio.portfo_symbols %}
                  <tr>
                    <td>{{ assoc.symbol.symbol }}</td>
                    <td>{{ assoc.number }}</td>
                    <td>{{ assoc.price }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            {% endif %}

          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-outline btn-default btn-xs">Edit</button>
            <button type="button" class="btn btn-outline btn-default btn-xs">Add/Remove Stocks</button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>



{% endblock %}
