{% extends 'base.html' %}
{% block page_title %}Symbols{% endblock %}
{% block content %}
<table width="100%" class="table table-striped table-bordered table-hover" id="symbols_table">
  <thead>
    <th>symbol</th>
    <th>name</th>
    <th>industry</th>
    <th>sector</th>
    <th>address</th>
    <th>cik</th>
  </thead>
  <tfoot>
    <th>symbol</th>
    <th>name</th>
    <th>industry</th>
    <th>sector</th>
    <th>address</th>
    <th>cik</th>
  </ctfoot>
</table>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {
    $('#symbols_table').DataTable( {
        "ajax": {
          "url": "/symbols_json",
          "dataSrc": "symbols_list"
        },
        "columns": [
            { "data": "symbol" },
            { "data": "name" },
            { "data": "industry" },
            { "data": "sector" },
            { "data": "address" },
            { "data": "cik" }
        ]
    } );
  });
</script>
{% endblock %}
